
<h1 class="title">
  Welcome to Used Book Exchange Website
</h1>

<div class="search_bar">
  <form action="search" method="get">
    <input type="text" name="search_string" id="search">
	<input type="submit" value="find">
  </form>
</div>