<div class="sign_info">
  <a href="">Sign in</a>/<a href="">Sign up</a> 
</div>
<div class="title">
  Welcome to Used Book Exchange Website
</div>

<div class="search_bar">
  <form action="search" method="get">
    <input type="text" name="search_string" id="search">
	<input type="submit" value="find">
  </form>
</div>